/* 리뉴얼 ================================= */

.only-admin {display:none;}
.admin .only-admin {display:block;}
.admin thead.only-admin {display:table-header-group;}
.admin td.only-admin {display:table-cell;}
.admin span.only-admin {display:inline-block;}

/* 아이콘 */
.m-icon {display:inline-block; content:""; position:relative;}
.m-icon-file {width:16px; height:17px; background: url("../img/icon_file_black.png") no-repeat; background-size:100%;}

/* 정보나열 */
.m-info {}

/* 색깔 */
.bg-primary {background-color:#0060b2 !important;}
.bg-gray {background-color:#afafaf !important;}

@media screen and (max-width:1200px) {
    .only-pc {display:none !important;}
}

/* 전체개수 */
.m-guide-total {padding-top:20px; margin-bottom:15px; font-size:14px;}
.m-guide-total strong {color:#0060b2}

/* 검색 */
.m-search {}
.m-search-select-wrap {display:inline-block; position:relative; border:1px solid #dcdcdc;}
.m-search-select-wrap:after {content:""; width:100%; height:100%; position:absolute; top:0; right:0; background-color:#fff;}
.m-search-select-wrap:before {content:""; width:10px; height:7px; position:absolute; top:50%; transform:translateY(-50%); right:15px; background:url("../img/icon_arrow_bottom_black.png") no-repeat; background-size:100%; z-index:1;}
.m-search-select {
    height:38px; padding-left:15px; padding-right:70px; position:relative; z-index:1; font-size:15px; color:#636363; background:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
.m-search-select::-ms-expand {display:none}
.m-search-input {height:40px; padding:0 15px; font-size:15px; color:#636363; border:1px solid #dcdcdc;}
.m-search-btn {height:39px; padding-left:45px; padding-right:28px; position:relative; background-color:#555555;}
.m-search-btn-text {position:relative; font-size:15px; color:#fff;}
.m-search-btn-text:before {content:""; width:18px; height:18px; position:absolute; top:50%; left:-25px; transform:translateY(-50%); background:url("../img/icon_search_gray.png") no-repeat;}

.m-search.type01 {margin-bottom:70px; padding:30px; text-align:center; background-color:#fafafa; border:1px solid #dcdcdc;}

@media screen and (max-width:768px) {
    .m-search-select-wrap {display:block; margin-bottom:5px;}
    .m-search-select {display:block; width:100%;}
    .m-search-input {display:block; width:100%; margin-bottom:10px;}
    .m-search-btn {display:block; width:100%;}

    .m-search.type01 {margin-bottom:45px;}
}
/* 로그인 */
.m-login-wrap {background-color:#fafafa;}
.m-login {width:650px; height:465px; position:absolute; top:48%; left:50%; transform:translate(-50%, -50%); box-shadow:4px 8px 20px rgba(0,0,0,0.16);}
.m-login-left {width:50%; height:100%; padding:90px 30px 0 30px; float:left; background:url("../img/img_base_login.png") no-repeat; background-size:cover;}
.m-login-left .m-login-subTitle { font-size:24px; color:#fff;}
.m-login-left .m-login-title {font-size:34px; font-weight:600; color:#fff;}
.m-login-left .m-login-link {position:absolute; left:30px; bottom:60px; font-size:16px; color:#fff;}
.m-login-right {width:50%; padding:90px 28px 0 28px; float:left;}
.m-login-right .m-login-title {margin-bottom:35px; font-size:26px; font-weight:600;}
.m-login .m-input-text.type01 input {height:37px; border:1px solid #dcdcdc;}
.m-login .m-input-text.type01:first-child {margin-bottom:7px;}
.m-login .m-input-checkbox.type01 {margin:15px 0;}
.m-login .m-input-checkbox.type01 label {font-size:14px; font-weight:300; color:#6a6a6a;}
.m-login-btn {display:block; width:100%; height:50px; margin-bottom:20px; font-size:16px; color:#fff; background-color:#0062c3;}
.m-login-comment {position:relative; padding-left:15px; font-size:13px; font-weight:300; color:#767676;}
.m-login-comment:before {content:"ㆍ"; position:absolute; left:0; top:0px;}
.m-login-icon {margin-left:10px; position:relative; top:2px;}

@media screen and (max-width:768px) {
    .m-login {width:320px; height:auto;}
    .m-login-left {width:100%; height:auto; padding:30px; float:none; text-align:center;}
    .m-login-left .m-login-subTitle {font-size:16px;}
    .m-login-left .m-login-title {margin-bottom:15px; font-size:20px;}
    .m-login-left .m-login-link {position:static; font-size:14px;}
    .m-login-left .m-login-link br {display:none;}
    .m-login-right {width:100%; padding:30px; float:none;}
    .m-login-right .m-login-title {margin-bottom:15px; text-align:center;}
}

/* 게시판 */
.m-board:hover .m-board-title {color:#0060b2;}
.m-boards-btns {margin-top:30px;}
.m-boards-btn {display:inline-block; margin-left:5px; margin-bottom:5px; padding:10px 25px; position:relative; top:0; left:0; font-size:15px; font-weight:500; background-color:#555; color:#fff; transition:box-shadow .3s, left .3s, top .3s, transform .3s;}
.m-boards-btn:hover {top:-2px; left:-2px; box-shadow:4px 8px 6px rgba(0,0,0,0.16); transform:scale(1.05);}
.m-boards-btn.type-big {font-size:18px; padding:15px 60px;}
.m-boards-btn.type-small {font-size:14px; padding:6px 14px;}
.m-boards-comment {margin:10px 0; font-size:14px; color:#6e6e6e;}
.m-board-tag {min-width:95px; padding:2px 17px; font-size:16px; color:#5f5f5f; border:1px solid #e5e5e5; border-radius:15px;}
.m-board-title {font-size:26px; font-weight:500; transition: color .3s;}
.m-board-body {font-size:15px; font-weight:300; text-align:justify;}
.m-board-sub {font-size:15px; font-weight:300; color: #a0a0a0;}
.m-board-date {font-size:14px; color:#818181;}
.m-board-states {}
.m-board-states .m-board-view {margin-right:10px;}
.m-board-state {padding:3px 10px; font-size:14px; font-weight:600; color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.16); background-color:#00b0b6; border-radius:15px;}
.m-board-state01 {background-color:#00b0b6;}
.m-board-state02 {background-color:#878787;}
.m-board-view {padding-left:20px; position:relative; font-size:14px; color:#b5b5b5;}
.m-board-view:before {content:""; width:14px; height:10px; position:absolute; top:5px; left:0; background:url("../img/icon_eye_gray.png") no-repeat;}
.m-board-empty {padding:180px 20px; font-size:18px; color:#6f6f6f;}

@media screen and (max-width:768px) {
    .m-board-title {font-size:20px; font-weight:500;}
    .m-boards-btn {padding:5px 25px;}
    .m-boards-btn.type-big {padding:7px 33px;}
}

/* 일반 게시판 목록 */
.m-boards.type-general01 {}
.m-boards.type-general01 .m-board-title {margin-right:50px; white-space:nowrap; font-size:20px; text-overflow:ellipsis; overflow:hidden;}
.m-boards.type-general01 .m-board-body {text-align:center;}
.m-boards.type-general01 table {width:100%; border-top:none;}
.m-boards.type-general01 th {padding:10px; font-weight:300; text-align:center; color:#a0a0a0;}
.m-boards.type-general01 td {padding:35px 5px; text-align:center;}
.m-boards.type-general01 tr {border-bottom:1px solid #b5b5b5; transition:background-color .3s;}
.m-boards.type-general01 tr:hover {background-color:#f8f8f8;}
.m-boards.type-general01 tbody tr:first-child {border-top:2px solid black;}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:768px) {
    .m-boards.type-general01 thead {display:none;}
    .m-boards.type-general01 tbody {display:block;}
    .m-boards.type-general01 tr {display:block; position:relative; padding: 0px 10px 55px 10px;}
    .m-boards.type-general01 td {display:inline-block; margin-right:10px; padding:20px 0 0px 0px;}
    .m-boards.type-general01 .m-board-main {margin-top:15px; padding:0; position:absolute; left:10px; top:40px;}
    .m-boards.type-general01 .m-board-title {margin-right:30px; font-size:18px;}
    .m-boards.type-general01 .m-board-state {font-size:12px;}
}

@media screen and (max-width:500px) {
    .m-boards.type-general01 td {margin-right:4px;}
    .m-boards.type-general01 .m-board-tag {font-size:12px;}
    .m-boards.type-general01 .m-board-body {font-size:12px;}

}

/* 일반 게시판 자세히 보기 */
.m-boardDetail.type-general01 {}
.m-boardDetail.type-general01 .m-board-title {margin-left:12px; margin-right:10px; position:relative; bottom:-3px;}
.m-boardDetail.type-general01 .m-board-tag {background-color:#fff;}
.m-boardDetail.type-general01 .m-boardDetail-header {padding:40px 25px; background-color:#f4f4f4; border-top:2px solid #0060b2;}
.m-boardDetail.type-general01 .m-boardDetail-infos {margin-top:20px;}
.m-boardDetail.type-general01 .m-boardDetail-infos .only-admin {display:inline-block;}
.m-boardDetail.type-general01 .m-boardDetail-infos .only-admin:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-general01 .m-boardDetail-info {display:inline-block;}
.m-boardDetail.type-general01 .m-boardDetail-info:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-general01 .m-boardDetail-info:first-child:before {display:none;}
.m-boardDetail.type-general01 .m-boardDetail-info-title {margin-right:15px; color:#0060b2;}
.m-boardDetail.type-general01 .m-boardDetail-subHeader {padding:20px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-general01 .m-boardDetail-subHeader .m-board-body:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-general01 .m-boardDetail-subHeader .m-board-body:nth-child(2):before {display:none;}
.m-boardDetail.type-general01 .m-icon-file {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-general01 .m-boardDetail-content {padding:70px 25px; border-bottom:1px solid black;}
.m-boardDetail.type-general01 .m-boardDetail-prev {display:block; padding:26px 25px 30px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-general01 .m-boardDetail-prev .m-board-title {font-size:18px;}
.m-boardDetail.type-general01 .m-boardDetail-prev .m-board-body {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-general01 .m-boardDetail-prev:hover .m-board-title {color:#0060b2;}
.m-boardDetail.type-general01 .m-boardDetail-next {display:block; padding:26px 25px 30px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-general01 .m-boardDetail-next .m-board-title {font-size:18px;}
.m-boardDetail.type-general01 .m-boardDetail-next .m-board-body {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-general01 .m-boardDetail-next:hover .m-board-title {color:#0060b2;}
.m-boardDetail.type-general01 .m-boards-btn {background-color:#8e8e8e;}
.m-boardDetail.type-general01 .m-boards-btns.align-center {margin-top:60px;}
.m-boardDetail.type-general01 .m-input-radios {max-height:250px; overflow-y:auto;}

@media screen and (max-width:1200px) {
    .m-boardDetail.type-general01 .m-boardDetail-header {padding:30px 15px;}
    .m-boardDetail.type-general01 .m-boardDetail-infos .only-admin {display:block; margin-top:5px;}
    .m-boardDetail.type-general01 .m-boardDetail-infos .only-admin:before {display:none;}
    .m-boardDetail.type-general01 .m-boardDetail-info:before {margin-left:14px; margin-right:12px;}
    .m-boardDetail.type-general01 .m-boardDetail-subHeader {position:relative; padding:15px; padding-left:50px;}
    .m-boardDetail.type-general01 .m-icon-file {position:absolute; left:15px; top:17px;}
    .m-boardDetail.type-general01 .m-boardDetail-subHeader .m-board-body {display:block;}
    .m-boardDetail.type-general01 .m-boardDetail-subHeader .m-board-body:before {display:none;}
}

@media screen and (max-width:768px) {
    .m-boardDetail.type-general01 .m-board-title {display:block; margin:0; margin-top:10px;}
    .m-boardDetail.type-general01 .m-boardDetail-infos {margin-top:15px;}
    .m-boardDetail.type-general01 .m-boardDetail-info-title {margin-right:5px; font-size:14px;}
    .m-boardDetail.type-general01 .m-boardDetail-info-body {font-size:14px;}
    .m-boardDetail.type-general01 .m-boardDetail-content {padding:40px 15px;}
    .m-boardDetail.type-general01 .m-boardDetail-prev {padding:22px 15px 26px 77px; position:relative;}
    .m-boardDetail.type-general01 .m-boardDetail-prev .m-board-title {display:block; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px;}
    .m-boardDetail.type-general01 .m-boardDetail-prev .m-board-body {position:absolute; top:50%; left:15px; transform:translateY(-50%);}
    .m-boardDetail.type-general01 .m-boardDetail-next {padding:22px 15px 26px 77px; position:relative;}
    .m-boardDetail.type-general01 .m-boardDetail-next .m-board-title {display:block; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px;}
    .m-boardDetail.type-general01 .m-boardDetail-next .m-board-body {position:absolute; top:50%; left:15px; transform:translateY(-50%);}
}

@media screen and (max-width:500px) {
    .m-boardDetail.type-general01 .m-boardDetail-info {margin-right:10px;}
    .m-boardDetail.type-general01 .m-boardDetail-info:before {display:none;}
}

/* 일반 게시판 쓰기 */
.m-boardWrite.type-general01 {}
.m-boardWrite.type-general01 .wrap-table {margin-bottom:30px; padding:20px 50px; padding-bottom:0; border-top:2px solid #0060b2; border-bottom:1px solid #dedede;}
.m-boardWrite.type-general01 table {width:100%;}
.m-boardWrite.type-general01 tbody {}
.m-boardWrite.type-general01 tr {border-bottom:1px solid #dedede;}
.m-boardWrite.type-general01 tr:last-child {border-bottom:none;}
.m-boardWrite.type-general01 th {width:140px; padding:15px 0; text-align:left; font-weight:500;}
.m-boardWrite.type-general01 td {padding:15px 0;}
.m-boardWrite.type-general01 .m-input-checkbox {margin-right:30px;}
.m-boardWrite.type-general01 .m-input-date {margin-right:5px;}
.m-boardWrite.type-general01 .m-boardWrite-images {margin-bottom:100px; padding-left:230px; position:relative; border:1px solid #e1e1e1;}
.m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail {width:230px; padding:10px; position:absolute; top:0; left:0; background-color:#f0f0f0;}
.m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail .m-ratioBox-wrap {margin-bottom:13px; padding-top:61%;}
.m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail .m-boards-btn.type-small {display:inline-block; width:126px; margin-left:0; padding:6px 0; border-radius:3px;}
.m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail .m-boards-btn.m-input-file {display:inline-block; width:80px; padding:6px 0; float:right; border-radius:3px;}
.m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail .m-boards-btn.m-input-file label {display:block; width:100%; color:#fff; text-align:center;}
.m-boardWrite.type-general01 .m-boardWrite-images-files {height:200px; padding:20px 35px; overflow-y:auto;}
.m-boardWrite.type-general01 .m-boardWrite-images-file {padding:3px 5px; position:relative; border-bottom:1px solid #e1e1e1; cursor:pointer; z-index:1;}
.m-boardWrite.type-general01 .m-boardWrite-images-file.active {background-color:#eee;}
.m-boardWrite.type-general01 .m-boardWrite-images-file .btn_remove {content:""; width:15px; height:15px; position:absolute; top:50%; right:5px; transform:translateY(-50%); background:url("../img/icon_circle_x_gray.png") no-repeat; cursor:pointer; z-index:10;}
.m-boardWrite.type-general01 .m-boardWrite-images-file.point:after {content:""; width:15px; height:15px; position:absolute; top:50%; right:27px; transform:translateY(-50%); background:url("../img/icon_circle_star_yellow.png") no-repeat;}

@media screen and (max-width:768px) {
    .m-boardWrite.type-general01 th {width:80px;}
    .m-boardWrite.type-general01 .wrap-table {padding:0 25px; border:1px solid #e1e1e1; border-top:2px solid #0060b2;}
    .m-boardWrite.type-general01 .m-input-checkbox {margin-right:20px;}
    .m-boardWrite.type-general01 .m-input-date {margin:10px 0;}
    .m-boardWrite.type-general01 .m-boardWrite-images-files {padding:10px;}
    .m-boardWrite.type-general01 .m-boardWrite-images {padding-left:0;}
    .m-boardWrite.type-general01 .m-boardWrite-images-boxThumbnail {width:100%; position:static;}
    .m-boardWrite.type-general01 .m-boards-comment {display:block;}
}

/* FAQ 게시판 목록 */
.m-boards.type-faq01 {border-top:2px solid black;}
.m-boards.type-faq01 .m-board-tag {display:inline-block; text-align:center;}
.m-boards.type-faq01 .m-faq {position:relative; transition: box-shadow .3s; border-bottom:1px solid #cdcdcd;}
.m-boards.type-faq01 .m-faq:after {opacity:0; content:""; width:99.8%; height:100%; position:absolute; top:0; left:0; border-right:1px solid #cdcdcd; border-left:1px solid #cdcdcd; transition: opacity .3s;}
.m-boards.type-faq01 .m-faq.active:after {opacity:1;}
.m-boards.type-faq01 .m-faq:hover .m-board-title {color:#0060b2;}
.m-boards.type-faq01 .m-faq.active {}
.m-boards.type-faq01 .m-board-title {margin-left:15px; font-size:20px;}
.m-boards.type-faq01 .m-faq .m-board-body {display:inline-block; font-weight:500; white-space:pre-wrap;}
.m-boards.type-faq01 .m-faq-mark {display:inline-block; content:""; width:37px; height:37px;  position:absolute; top:38px; left:35px; background:url("../img/icon_q.png") no-repeat;}
.m-boards.type-faq01 .m-board-state {margin-right:10px; position:relative; float:right; box-shadow:none;}
.m-boards.type-faq01 .m-faq-btn {width:44px; height:44px; float:right; position:relative; top:-9px; background-color:white; border-radius:100%; transition:max-width .3s, max-height .3s, background-color .3s, transform .3s;}
.m-boards.type-faq01 .m-faq-btn img {}
.m-boards.type-faq01 .m-faq-question {padding:40px 35px; padding-left:100px; position:relative; z-index:1; cursor:pointer;}
.m-boards.type-faq01 .m-faq-answer {display:none; padding:40px 35px; padding-left:100px; position:relative; z-index:1; background-color:#f5f5f5;}
.m-boards.type-faq01 .m-faq-answer .m-faq-mark {background:url("../img/icon_a.png") no-repeat;}

@media screen and (max-width:768px) {
    .m-boards.type-faq01 .m-faq-question {padding:20px; padding-bottom:50px; padding-left:60px;}
    .m-boards.type-faq01 .m-faq-answer .m-faq-mark {background-size:100%;}
    .m-boards.type-faq01 .m-board-title {width:100%; position:absolute; top:60px; left:0; font-size:17px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
    .m-boards.type-faq01 .m-faq-mark {width:24px; height:24px; top:22px; left:20px; background-size:100%;}
    .m-boards.type-faq01 .m-faq-answer {padding:20px; padding-left:60px;}
    .m-boards.type-faq01 .m-faq-btn {display:none;}
    .m-boards.type-faq01 .m-board-state {margin-right:0;}
}

/* qna 자세히보기 */
.m-boardDetail.type-qna01 {}
.m-boardDetail.type-qna01 .m-board-title {margin-left:12px; margin-right:10px; position:relative; bottom:-3px;}
.m-boardDetail.type-qna01 .m-board-tag {background-color:#fff;}
.m-boardDetail.type-qna01 .m-boardDetail-header {padding:40px 40px; background-color:#f4f4f4; border-top:2px solid #0060b2;}
.m-boardDetail.type-qna01 .m-boardDetail-infos {margin-top:10px; float:right;}
.m-boardDetail.type-qna01 .m-boardDetail-infos .only-admin {display:inline-block;}
.m-boardDetail.type-qna01 .m-boardDetail-infos .only-admin:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-qna01 .m-boardDetail-info {display:inline-block;}
.m-boardDetail.type-qna01 .m-boardDetail-info:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-qna01 .m-boardDetail-info:first-child:before {display:none;}
.m-boardDetail.type-qna01 .m-boardDetail-info-title {margin-right:15px; color:#0060b2;}
.m-boardDetail.type-qna01 .m-boardDetail-subHeader {padding:20px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-qna01 .m-boardDetail-subHeader .m-board-body:before {margin-left:24px; margin-right:22px; content:"|"; position:relative; top:-2px; font-size:13px; color:#bfbfbf;}
.m-boardDetail.type-qna01 .m-boardDetail-subHeader .m-board-body:nth-child(2):before {display:none;}
.m-boardDetail.type-qna01 .m-icon-file {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-qna01 .m-boardDetail-content {padding:50px 40px; padding-left:120px; position:relative; font-size:18px; border-bottom:1px solid black;}
.m-boardDetail.type-qna01 .m-boardDetail-content:nth-child(3) .m-boardDetail-mark {top:126px;}
.m-boardDetail.type-qna01 .m-boardDetail-content .m-boardDetail-infos {display:block; margin-bottom:45px; float:none; text-align:right;}
.m-boardDetail.type-qna01 .m-boardDetail-prev {display:block; padding:26px 25px 30px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-qna01 .m-boardDetail-prev .m-board-title {font-size:18px;}
.m-boardDetail.type-qna01 .m-boardDetail-prev .m-board-body {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-qna01 .m-boardDetail-prev:hover .m-board-title {color:#0060b2;}
.m-boardDetail.type-qna01 .m-boardDetail-next {display:block; padding:26px 25px 30px 25px; border-bottom:1px solid #d8d8d8;}
.m-boardDetail.type-qna01 .m-boardDetail-next .m-board-title {font-size:18px;}
.m-boardDetail.type-qna01 .m-boardDetail-next .m-board-body {margin-right:20px; position:relative; top:2px;}
.m-boardDetail.type-qna01 .m-boardDetail-next:hover .m-board-title {color:#0060b2;}
.m-boardDetail.type-qna01 .m-boards-btn {background-color:#8e8e8e;}
.m-boardDetail.type-qna01 .m-boards-btns.align-center {margin-top:60px;}
.m-boardDetail.type-qna01 .m-input-radios {max-height:250px; overflow-y:auto;}
.m-boardDetail.type-qna01 .m-boardDetail-mark {position:absolute; left:40px; top:48px; font-size:20px;}

@media screen and (max-width:1200px) {
    .m-boardDetail.type-qna01 .m-boardDetail-header {padding:30px 15px;}
    .m-boardDetail.type-qna01 .m-boardDetail-infos {display:block; float:none;}
    .m-boardDetail.type-qna01 .m-boardDetail-infos .only-admin {display:block; margin-top:5px;}
    .m-boardDetail.type-qna01 .m-boardDetail-infos .only-admin:before {display:none;}
    .m-boardDetail.type-qna01 .m-boardDetail-info:before {margin-left:14px; margin-right:12px;}
    .m-boardDetail.type-qna01 .m-boardDetail-subHeader {position:relative; padding:15px; padding-left:50px;}
    .m-boardDetail.type-qna01 .m-icon-file {position:absolute; left:15px; top:17px;}
    .m-boardDetail.type-qna01 .m-boardDetail-subHeader .m-board-body {display:block;}
    .m-boardDetail.type-qna01 .m-boardDetail-subHeader .m-board-body:before {display:none;}
}

@media screen and (max-width:768px) {
    .m-boardDetail.type-qna01 .m-boardDetail-header {position:relative;}
    .m-boardDetail.type-qna01 .m-board-title {display:block; margin:0; margin-top:10px;}
    .m-boardDetail.type-qna01 .m-boardDetail-infos {margin-top:15px;}
    .m-boardDetail.type-qna01 .m-boardDetail-info-title {margin-right:5px; font-size:14px;}
    .m-boardDetail.type-qna01 .m-boardDetail-info-body {font-size:14px;}
    .m-boardDetail.type-qna01 .m-boardDetail-content {padding:40px 15px; font-size:16px;}
    .m-boardDetail.type-qna01 .m-boardDetail-prev {padding:22px 15px 26px 77px; position:relative;}
    .m-boardDetail.type-qna01 .m-boardDetail-prev .m-board-title {display:block; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px;}
    .m-boardDetail.type-qna01 .m-boardDetail-prev .m-board-body {position:absolute; top:50%; left:15px; transform:translateY(-50%);}
    .m-boardDetail.type-qna01 .m-boardDetail-next {padding:22px 15px 26px 77px; position:relative;}
    .m-boardDetail.type-qna01 .m-boardDetail-next .m-board-title {display:block; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:15px;}
    .m-boardDetail.type-qna01 .m-boardDetail-next .m-board-body {position:absolute; top:50%; left:15px; transform:translateY(-50%);}
    .m-boardDetail.type-qna01 .m-boardDetail-mark {display:block; margin-bottom:10px; position:static;}
    .m-boardDetail.type-qna01 .m-boardDetail-content .m-boardDetail-infos {margin-bottom:30px; margin-top:0; text-align:left;}
    .m-boardDetail.type-qna01 .m-board-state {position:absolute; top:30px; right:15px;}
}

@media screen and (max-width:500px) {
    .m-boardDetail.type-qna01 .m-boardDetail-info {margin-right:10px;}
    .m-boardDetail.type-qna01 .m-boardDetail-info:before {display:none;}
}

/* 갤러리 게시판 목록 */
.m-boards.type-gallery01 {border-top:2px solid black;}
.m-boards.type-gallery01 .m-board {display:block; padding:40px 0; padding-left:420px; position:relative; border-bottom:1px solid #c5c5c5;}
.m-boards.type-gallery01 .m-board:after {display:block; content:""; clear:both;}
.m-boards.type-gallery01 .m-board-thumbnail {width:360px; padding-top:228px; position:absolute; left:0; top:40px;}
.m-boards.type-gallery01 .m-board-tag {}
.m-boards.type-gallery01 .m-board-title {margin-top:20px; margin-bottom:20px;}
.m-boards.type-gallery01 .m-board-body {margin-bottom:35px;}
.m-boards.type-gallery01 .m-board-bottom:after {display:block; content:""; clear:both;}
.m-boards.type-gallery01 .m-board-date {float:left;}
.m-boards.type-gallery01 .m-board-states {float:right;}

@media screen and (max-width:768px) {
    .m-boards.type-gallery01 {border-top:none;}
    .m-boards.type-gallery01 .m-board {padding:30px 0; padding-left:0;}
    .m-boards.type-gallery01 .m-board:first-child {padding-top:0;}
    .m-boards.type-gallery01 .m-board-thumbnail {width:100%; margin-bottom:25px; padding-top:65%; position:relative; top:auto; left:auto;}
    .m-boards.type-gallery01 .m-board-title {margin-top:15px; margin-bottom:15px;}
    .m-boards.type-gallery01 .m-board-body {margin-bottom:30px;}
}

.m-boards.type-gallery02 {}
.m-boards.type-gallery02:after {display:block; content:""; clear:both;}
.m-boards.type-gallery02 .m-board {display:block; width:33.33%; padding:40px 30px; float:left; position:relative;}
.m-boards.type-gallery02 .m-board:after {content:""; width:105%; max-width:95%; height:105%; max-height:95%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid #d2d2d2; opacity:0; transition: max-height .3s, max-width .3s, opacity .3s;}
.m-boards.type-gallery02 .m-board:hover:after {max-width:100%; max-height:100%; opacity:1;}
.m-boards.type-gallery02 .m-board-thumbnail {width:100%; padding-top:59%; margin-bottom:20px;}
.m-boards.type-gallery02 .m-board-tag {}
.m-boards.type-gallery02 .m-board-title {min-height:78px; margin-top:20px; margin-bottom:40px;}
.m-boards.type-gallery02 .m-board-date {float:left;}
.m-boards.type-gallery02 .m-board-states {float:right;}

@media screen and (max-width:1024px) {
    .m-boards.type-gallery02 .m-board {width:50%;}
}

@media screen and (max-width:768px) {
    .m-boards.type-gallery02 .m-board {width:100%;}
    .m-boards.type-gallery02 .m-board-title {min-height:auto; margin-top:15px; margin-bottom:30px;}
}

.m-boards.type-gallery03 {}
.m-boards.type-gallery03:after {display:block; content:""; clear:both;}
.m-boards.type-gallery03 .m-board {display:block; width:32%; margin-left:2%; margin-bottom:3%; float:left; position:relative;}
.m-boards.type-gallery03 .m-board:hover:after {opacity:1; max-width:100%; max-height:100%;}
.m-boards.type-gallery03 .m-board:hover .m-board-texts {opacity:1;}
.m-boards.type-gallery03 .m-board:after {content:""; width:110%; max-width:110%; height:110%; max-height:110%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); background-color:rgba(0,96,178,0.85); z-index:2; opacity:0; transition: opacity .5s, max-width .3s, max-height .3s;}
.m-boards.type-gallery03 .m-board:nth-child(3n + 1) {margin-left:0;}
.m-boards.type-gallery03 .m-board-thumbnail {width:100%; padding-top:74%;}
.m-boards.type-gallery03 .m-board-tag {color:#fff;}
.m-boards.type-gallery03 .m-board-texts {position:absolute; top:55%; left:50%; transform:translate(-50%, -50%); text-align:center; z-index:3; opacity:0; transition: opacity .5s;}
.m-boards.type-gallery03 .m-board-title {min-height:78px; margin-top:15px; margin-bottom:45px; font-weight:700; color:#fff;}
.m-boards.type-gallery03 .m-board-date {font-size:18px; font-weight:300; color:#fff;}
.m-boards.type-gallery03 .m-board-states {width:100%; padding:20px; position:absolute; top:0px; right:0px; z-index:1;}
.m-boards.type-gallery03 .m-board-states:after {display:block; content:""; clear:both;}
.m-boards.type-gallery03 .m-board-view {padding:3px 10px; padding-left:25px; float:left; color:#fff; background-color:black; border-radius:15px; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.m-boards.type-gallery03 .m-board-view:before {top:50%; left:5px; transform:translateY(-50%); background:url("../img/icon_eye_white.png") no-repeat;}
.m-boards.type-gallery03 .m-board-state {float:right;}

@media screen and (max-width:1024px) {
    .m-boards.type-gallery03 .m-board {width:49%;}
    .m-boards.type-gallery03 .m-board:nth-child(3n + 1) {margin-left:2%;}
    .m-boards.type-gallery03 .m-board:nth-child(2n + 1) {margin-left:0%;}
}

@media screen and (max-width:768px) {
    .m-boards.type-gallery03 .m-board {width:100%; margin-left:0;}
    .m-boards.type-gallery03 .m-board-title {min-height:auto; margin-top:15px; margin-bottom:30px;}
    .m-boards.type-gallery03 .m-board:nth-child(3n + 1) {margin-left:0%;}
}

/* 일정게시판, 캘린더 */
.cal_wrap{}
.cal_header{padding: 28px 0;position: relative;;text-align: center;border: 1px solid #dfdfdf;border-bottom: 0}
.cal_header .tit_wrap{width: 290px;display: inline-block;position: relative;}
.cal_header .tit_wrap h2{font-size: 2em;font-weight: 600}
.cal_header .tit_wrap a{
    display: inline-block;width: 30px;height: 30px;
    background-color: #949494;background-position: center;
    background-repeat: no-repeat;font-size: 0;
    position: absolute;top: 50%;margin-top: -15px;
}
.cal_header .prev_btn{left:0;background-image: url('../img/icon_arrow_left_white.png');}
.cal_header .next_btn{right:0;background-image: url('../img/icon_arrow_right_white.png')}
.legend_wrap{width:385px; padding-left:75px; position: absolute;left: 20px;bottom: 20px;font-size: 1.05em; text-align:left;}
.legend_wrap em{display: inline-block;margin-right: 8px;vertical-align: middle;;position: relative;top: -2px}
.legend_wrap span{margin-right: 10px}
.legend_wrap .cal_today {position:absolute; left:0; bottom:0;}
.cal_today em{width: 18px;height: 18px;background-color: #dfe5f3}
.cal_sch {display:inline-block;}
.cal_sch em{width: 10px;height: 10px;border-radius: 100%;background-color: #254daa}
.cal_sch.cal_tag01 em {background-color:#00c0ff;}
.cal_sch.cal_tag02 em {background-color:#1e6c29;}
.cal_sch.cal_tag03 em {background-color:#e00099;}
.cal_sch.cal_tag04 em {background-color:#9433cc;}
.cal_sch.cal_tag05 em {background-color:#a1980b;}
.cal_sch.cal_tag06 em {background-color:#254daa;}
.cal_sch.cal_tag07 em {background-color:#13c138;}
.cal_sch.cal_tag08 em {background-color:#f57c07;}
.cal_sch.cal_tag09 em {background-color:#e02000;}
.cal_sch.cal_tag10 em {background-color:#2bb395;}
.cal_body{overflow: hidden;}
.cal_body > section{width: 50%;float: left;height: 480px}
.cal_left table{width: 100%}
.cal_left thead th{}
.cal_left tbody td{}

.calendar .tb_calendar {width:100%;}
.calendar .tb_calendar thead tr th{height: 50px;background-color: #949494;text-align: center; color: #fff}
.calendar .tb_calendar tbody tr td {height: 70px;text-align: center;border: 1px solid #dfdfdf;vertical-align: top;padding-top: 10px}
.calendar .tb_calendar tbody tr td .num {display:block; text-align:center;}
/* .calendar .tb_calendar tbody tr td .num.active{display: inline-block;height: 35px;border-radius: 100px; background-color: #2b72c9;width: 35px;color:#fff!important} */
/* .calendar .tb_calendar tbody tr td.day_sun .num {color:#eb0505;} */
/* .calendar .tb_calendar tbody tr td.day_sat .num {color:#1852d5;} */
/* .calendar .tb_calendar tbody tr td.day_unselect .num {color:#eee;} */
.calendar .tb_calendar tbody tr td.day_today{background-color: #e8e8e8}
/* .calendar .tb_calendar tbody tr td.day_today .num {color:#00c16a;} */
.calendar .tb_calendar tbody tr td .num_select {background:#75c5ff; color:#fff !important;}
/* .calendar .tb_calendar tbody tr td .num_select.start {border-radius:40px 0 0 40px;} */
/* .calendar .tb_calendar tbody tr td .num_select.end {border-radius:0 40px 40px 0;} */

.cal_tag {padding:1px 8px; font-size:14px; font-weight:300; color:#fff; background-color:#254daa; border-radius:9.5px;}

.sch_cir_wrap{text-align: center}
.sch_cir_wrap .sch_cir{display: inline-block;width: 10px;height: 10px;background-color: #254daa;border-radius: 100%;font-size: 0;margin: 0 2px}
.cal_right .tit_wrap{text-align: center}
.cal_right .tit_wrap h2{line-height: 50px;background-color: #eaeaea; color:#333;font-size: 1.34em; font-weight:500;}
.all_sch_list{height: 421px; overflow-y: scroll;border: 10px solid #eaeaea;border-top: 0;padding: 20px}
.all_sch_list dl{padding:16px 0; display: table;width: 100%;font-size: 1.05em; border-bottom:1px solid #eeeeee;}
.all_sch_list dt{display: table-cell;vertical-align: top;color: #666;width: 100px}
.all_sch_list dd{padding-left: 10px}
.all_sch_list .tit{display: block; font-size:17px; line-height: 24px; font-weight:500; width: 100px;text-align: center;border-radius: 15px; color:000;}
.all_sch_list a{color: #333;}
.all_sch_list .list_s4 {margin-bottom:15px; padding-left:150px; position:relative;}
.all_sch_list .list_s4:last-child {margin-bottom:0;}
.all_sch_list .cal_sub {position:absolute; top:0; left:0;}
.all_sch_list .cal_time {font-size:14px; color:#767676;}
.all_sch_list .cal_tag {margin-right:5px;}
.all_sch_list .cal_tag01 {background-color:#00c0ff;}
.all_sch_list .cal_tag02 {background-color:#1e6c29;}
.all_sch_list .cal_tag03 {background-color:#e00099;}
.all_sch_list .cal_tag04 {background-color:#9433cc;}
.all_sch_list .cal_tag05 {background-color:#a1980b;}
.all_sch_list .cal_tag06 {background-color:#254daa;}
.all_sch_list .cal_tag07 {background-color:#13c138;}
.all_sch_list .cal_tag08 {background-color:#f57c07;}
.all_sch_list .cal_tag09 {background-color:#e02000;}
.all_sch_list .cal_tag10 {background-color:#2bb395;}

@media screen and (min-width:1025px) {
    .all_sch_list a:hover{text-decoration: underline;}
}

@media screen and (max-width:768px) {
    .all_sch_list dt {display:block; margin-bottom:10px;}
}

.sch_popup{width: 500px;position: fixed;top: 50%;margin-top: -219px;left:50%;margin-left: -250px;display: none;z-index: 2000}
.sch_popup_header{color: #fff;font-size: 1.45em;font-weight: 500;line-height: 60px;padding: 0 20px;position: relative;background-color: #254daa;display: block}
.sch_popup_header .close_btn{display: block; width: 15px;height: 16px;position: absolute;top: 50%;right: 20px;margin-top: -8px;background: url('../img/icon_x_white.png') no-repeat; background-size:100%;}
.sch_popup_body{background: #fff;padding: 30px; max-height:315px; overflow-y:auto;}
.sch_popup_body .tit{font-size: 17px; font-weight: 500;}
.sch_popup_body .cal_tag {margin-right:10px; position:relative; bottom:1px;}
.sch_popup_body div{border-top: 1px solid #000;margin-top: 10px}
.sch_popup_body dl{padding: 5px 0;display: table;width: 100%;font-size: 1.05em}
.sch_popup_body dt{width: 40px;font-weight: 500;color:#666;display: table-cell;vertical-align: top;padding-left: 5px}
.sch_popup_body dd{display: table-cell;color:#666;padding: 0 10px;font-weight: 300}
.sch_popup_body .body {margin-bottom:17px; padding:20px 0; font-size:18px; font-weight:600; border-bottom:1px solid #c8c8c8;}
.sch_popup_body .sch_context {min-height:auto;}
.sch_context{min-height: 120px}

@media screen and (max-width:1200px){
    .legend_wrap {margin:10px 20px 10px 20px; position:relative; bottom:auto; left:auto;}
}

@media screen and (max-width:768px) {
    .legend_wrap {padding:0 20px;}
    .legend_wrap .cal_today {display:inline-block; position:static;}
    .cal_body > section{width: 100%}
    .cal_left{border-right: 1px solid #ccc}
    .cal_body > section{height: auto;}
}
@media screen and (max-width:767px) {
    .cal_header{padding: 15px 0 5px}

    .calendar .tb_calendar thead tr th{height: 35px}
    .calendar .tb_calendar tbody tr td{height: 60px}
    .all_sch_list{padding: 10px}
}
@media screen and (max-width:500px) {
    .legend_wrap {width:auto; text-align:justify;}
    .sch_popup{width: 90%;left: 5%;margin-left: 0}
    .sch_popup_body{padding: 20px}
}


/* 페이징 */
.m-pagination {margin-top:30px; text-align:center;}
.m-pagination-pages {display:inline-block;}
.m-pagination-pages a {display:inline-block; margin:0 10px; font-weight:500; color:#838383; transition:color .3s;}
.m-pagination-pages a:hover {color:#3091ec;}
.m-pagination-pages span {display:inline-block; margin:0 10px; font-weight:600; color:#3091ec;}
.m-pagination-pages .m-pagination-first {content:""; width:30px; height:30px; margin-right:-1px; position:relative; top:9px;  border:1px solid #e1e1e1; background:url("../img/icon_double_small_arrow_left_gray.png") no-repeat; background-position: center;}
.m-pagination-pages .m-pagination-prev {content:""; width:30px; height:30px; margin-left:0px; position:relative; top:9px; border:1px solid #e1e1e1;  background:url("../img/icon_small_arrow_left_gray.png") no-repeat; background-position: center;}
.m-pagination-pages .m-pagination-last {content:""; width:30px; height:30px; margin-left:-1px; position:relative; top:9px; border:1px solid #e1e1e1;  background:url("../img/icon_double_small_arrow_left_gray.png") no-repeat; background-position: center; transform:rotate(180deg);}
.m-pagination-pages .m-pagination-next {content:""; width:30px; height:30px; position:relative; top:9px; border:1px solid #e1e1e1;  margin-right:0px; position:relative; background:url("../img/icon_small_arrow_left_gray.png") no-repeat; background-position: center; transform:rotate(180deg);}

/* 팝업창 */
.m-pop {display:none; width:360px; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:10;}
.m-pop-black {display:none; width:100%; height:100%; content:""; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.6); z-index:9;}

.m-pop.type01 .m-pop-header {padding:10px 20px; position:relative; background-color:#0060b2;}
.m-pop.type01 .m-pop-header-title {font-size:18px; color:#fff;}
.m-pop.type01 .m-pop-btn-close {position:absolute; top:50%; right:20px; transform:translateY(-50%); font-size:18px; color:#fff;}
.m-pop.type01 .m-pop-content {padding:30px 20px; background-color:#fff;}
.m-pop.type01 .m-pop-btn {display:inline-block; margin-top:25px; padding:8px 25px; font-size:14px; color:#fff; background-color:#555555;}

@media screen and (max-width:500px){
    .m-pop {width:320px;}
}

/* box */
.m-ratioBox-wrap {width:100%; padding-top:100%; position:relative; background-color:#ebebeb; overflow:hidden;}
.m-ratioBox-wrap .m-ratioBox {position:absolute; top:0; left:0; right:0; bottom:0;}
.m-ratioBox-wrap img {width:105%; position:absolute; left:50%; top:50%; transform:translateY(-50%) translateX(-50%);}

/* input */
.m-input-radio input {display:none;}
.m-input-radio label {cursor:pointer;}

.m-input-radio.type01 {margin-top:7px;}
.m-input-radio.type01:first-child {margin-top:0;}
.m-input-radio.type01 label {display:block; padding:15px 0; padding-left:50px; position:relative; background-color:#f5f5f5; box-shadow:0px 1px 2px rgba(0,0,0,0.16); transition:background-color .2s;}
.m-input-radio.type01 label:hover {background-color:#bfbfbf;}
.m-input-radio.type01 label:before {content:""; width:14px; height:14px; position:absolute; left:14px; top:50%; transform:translateY(-50%); background:url("../img/icon_circle_gray.png") no-repeat;}
.m-input-radio.type01 input:checked + label:before {background:url("../img/icon_circle_active_gray.png") no-repeat;}
.m-input-radio.type01 input:checked + label {background-color:#bfbfbf;}
.m-input-radio.type01 .m-input-radio-title {display:inline-block;}
.m-input-radio.type01 .m-input-radio-title:first-child {width:140px; position:relative; top:2px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.m-input-radio.type01 .m-input-radio-title:nth-child(2) {width:68px; position:relative; top:-2px; text-align:center;}

.m-input-radio.type02 {display:inline-block; margin-top:7px; margin-left:30px;}
.m-input-radio.type02:first-child {margin-top:0; margin-left:0;}
.m-input-radio.type02 label { padding-left:25px; position:relative; }
.m-input-radio.type02 label:before {content:""; width:15px; height:15px; position:absolute; left:0px; top:52%; transform:translateY(-50%); background:url("../img/icon_circle_gray.png") no-repeat;}
.m-input-radio.type02 input:checked + label:before {background:url("../img/icon_circle_active_gray.png") no-repeat;}

.m-input-checkbox input {display:none;}
.m-input-checkbox label {cursor:pointer;}
.m-input-checkbox.type01 {display:inline-block; margin-top:7px;}
.m-input-checkbox.type01:first-child {margin-top:0;}
.m-input-checkbox.type01 label { padding-left:25px; position:relative; }
.m-input-checkbox.type01 label:before {content:""; width:15px; height:15px; position:absolute; left:0px; top:50%; transform:translateY(-50%); background:url("../img/icon_square_gray.png") no-repeat;}
.m-input-checkbox.type01 input:checked + label:before {background:url("../img/icon_square_gray_active1.png") no-repeat;}

.m-select.type01 select {height:32px; padding:0 10px; border:1px solid #bfbfbf;}

.m-input-text.type01 input {width:100%; height:32px; padding:0 10px; border:1px solid #bfbfbf;}
.m-input-textarea.type01 textarea {width:100%; min-height:400px; padding:10px; border:1px solid #bfbfbf; resize:none; }

.m-input-date.type01 {display:inline-block; max-width:260px;}
.m-input-date.type01 input::-webkit-inner-spin-button {display: none;}
.m-input-date.type01 input::-webkit-calendar-picker-indicator {opacity: 0;}
.m-input-date.type01  input {width:100%; height:32px; padding:0 10px; background:#fff url('../img/icon_calendar_lightBlack.png')  87% 50% no-repeat; border:1px solid #ccc;}

.m-input-time.type01 {display:inline-block;}
.m-input-time.type01 + .wave {margin:0 10px;}
.m-input-time.type01 .m-select {display:inline-block;}
.m-input-time.type01 .m-input-time-mark {margin:0 3px;}

.m-input-file input {display:none;}

@media screen and (max-width:768px){
    .m-input-time.type01 + .wave {display:block; margin:10px 0; text-align:center;}
}